<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>multiteca2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AnadirDisco</display-name>
    <servlet-name>AnadirDisco</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.AnadirDisco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnadirDisco</servlet-name>
    <url-pattern>/insertar-disco.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaDisco</display-name>
    <servlet-name>ListaDisco</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.ListaDisco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDisco</servlet-name>
    <url-pattern>/lista-disco.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPelicula</display-name>
    <servlet-name>ListaPelicula</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.ListaPelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPelicula</servlet-name>
    <url-pattern>/lista-peliculas.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaLibro</display-name>
    <servlet-name>ListaLibro</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.ListaLibro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaLibro</servlet-name>
    <url-pattern>/lista-libros.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnadirArtista</display-name>
    <servlet-name>AnadirArtista</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.AnadirArtista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnadirArtista</servlet-name>
    <url-pattern>/insertar-artista.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaArtistas</display-name>
    <servlet-name>ListaArtistas</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.ListaArtistas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaArtistas</servlet-name>
    <url-pattern>/lista-artistas.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertarpelicula</display-name>
    <servlet-name>Insertarpelicula</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Insertarpelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertarpelicula</servlet-name>
    <url-pattern>/insertar-pelicula.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscarpelicula</display-name>
    <servlet-name>Buscarpelicula</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Buscarpelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscarpelicula</servlet-name>
    <url-pattern>/buscar-pelicula.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscarlibro</display-name>
    <servlet-name>Buscarlibro</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Buscarlibro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscarlibro</servlet-name>
    <url-pattern>/buscar-libro.jr</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Buscardisco</display-name>
    <servlet-name>Buscardisco</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Buscardisco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscardisco</servlet-name>
    <url-pattern>/buscar-disco.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrarpelicula</display-name>
    <servlet-name>Borrarpelicula</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Borrarpelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrarpelicula</servlet-name>
    <url-pattern>/borrar-pelicula.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrarlibro</display-name>
    <servlet-name>Borrarlibro</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Borrarlibro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrarlibro</servlet-name>
    <url-pattern>/borrar-libro.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrardisco</display-name>
    <servlet-name>Borrardisco</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Borrardisco</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrardisco</servlet-name>
    <url-pattern>/borrar-disco.jr</url-pattern>
  </servlet-mapping>
</web-app>