@CHARSET "UTF-8";

body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family:verdana;
}
th {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family:verdana;
}

#submit {
    display: inline-block;
    width : 50px; 
    height : 50px;
    margin-left: 50px;
    margin-right: 50px;  
}

#menu {
    display: inline-block;
    width : 50px; 
    height : 50px;
    margin-left: 100px;
    margin-right: 50px;  
}
